html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.header-right {
  text-align: right;
}

.homeworkCompletionTableHeader {
  font-size: small;
  text-align: center !important;
}

.welcome-text {
  color: white;
  margin-bottom: 0;
}

.ant-typography .completion-green {
  color: green;
}

.ant-typography .completion-yellow {
  color: yellow;
}

.ant-typography .completion-red {
  color: red;
}

.reset-password {
  color: red;
}